# Python
__pycache__/
*.pyc

# Logs
logs/

# Backups
backups/

# Docker
*.log

# OS
.DS_Store

# GitHub self-hosted runner files
actions-runner/
actions-runner/_work/
actions-runner/_diag/
actions-runner/.runner
actions-runner/_work/
actions-runner/_diag/
actions-runner/.runner
actions-runner/
