version: "3.8"

services:
  backend:
    image: sayyarahul/capstone-backend:latest
    container_name: backend-prod
    ports:
      - "5000:5000"
    depends_on:
      - db
    networks:
      - app-net

  frontend:
    image: sayyarahul/capstone-frontend:latest
    container_name: frontend-prod
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app-net

  db:
    image: postgres:15
    container_name: db-prod
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: password
      POSTGRES_DB: appdb
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-net

volumes:
  db_data:

networks:
  app-net:
    driver: bridge
