name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-scan-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Backend Image
      run: |
        docker buildx build \
          --load \
          -t ${{ secrets.DOCKER_USERNAME }}/capstone-backend:latest \
          ./backend

    - name: Build Frontend Image
      run: |
        docker buildx build \
          --load \
          -t ${{ secrets.DOCKER_USERNAME }}/capstone-frontend:latest \
          ./frontend

    - name: Scan Backend Image (Trivy)
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ secrets.DOCKER_USERNAME }}/capstone-backend:latest
        exit-code: '0'
        severity: 'CRITICAL,HIGH'

    - name: Scan Frontend Image (Trivy)
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ secrets.DOCKER_USERNAME }}/capstone-frontend:latest
        exit-code: '0'
        severity: 'CRITICAL,HIGH'

    - name: Push Backend Image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/capstone-backend:latest

    - name: Push Frontend Image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/capstone-frontend:latest
