name: CI-CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-test-scan-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Backend
        run: docker build -t rahulsayya/capstone-backend:latest ./backend

      - name: Build Frontend
        run: docker build -t rahulsayya/capstone-frontend:latest ./frontend

      - name: Trivy Scan Backend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: rahulsayya/capstone-backend:latest
          severity: CRITICAL,HIGH
          exit-code: '0'

      - name: Trivy Scan Frontend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: rahulsayya/capstone-frontend:latest
          severity: CRITICAL,HIGH
          exit-code: '0'

      - name: Push Backend
        run: docker push rahulsayya/capstone-backend:latest

      - name: Push Frontend
        run: docker push rahulsayya/capstone-frontend:latest


  deploy:
    name: Deploy to Local Server
    needs: build-test-scan-push
    runs-on: self-hosted

    steps:
      - name: Deploy using Docker Compose
        shell: bash
        run: |
          echo "Starting deployment..."
          cd /mnt/c/Users/Rahul\ Sayya/Capstone\ project_CICD\ End-to-End\ Project
          chmod +x deploy.sh
          ./deploy.sh
