name: CI-CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-test-scan-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: rahulsayya
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Backend Image
      uses: docker/build-push-action@v5
      with:
        context: ./backend
        load: true
        tags: rahulsayya/capstone-backend:latest

    - name: Build Frontend Image
      uses: docker/build-push-action@v5
      with:
        context: ./frontend
        load: true
        tags: rahulsayya/capstone-frontend:latest

    - name: Scan Backend Image (Trivy)
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: rahulsayya/capstone-backend:latest
        exit-code: "0"
        severity: "CRITICAL,HIGH"

    - name: Scan Frontend Image (Trivy)
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: rahulsayya/capstone-frontend:latest
        exit-code: "0"
        severity: "CRITICAL,HIGH"

    - name: Push Backend Image
      run: docker push rahulsayya/capstone-backend:latest

    - name: Push Frontend Image
      run: docker push rahulsayya/capstone-frontend:latest
