name: CI-CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    #  Login using CLI (NOT docker/login-action)
    - name: Docker Login
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    # Build backend
    - name: Build Backend Image
      run: |
        docker build ./backend -t rahulsayya/backend:latest

    #  Build frontend
    - name: Build Frontend Image
      run: |
        docker build ./frontend -t rahulsayya/frontend:latest

    #Scan Backend Image(Trivy)
    - name: Scan Backend Image (Trivy)
      uses: aquasecurity/trivy-action@master
       with:
      image-ref: ${{ secrets.DOCKER_USERNAME }}/capstone-backend:latest
      exit-code: '0'
    
     # scan Frontend Image (Trivy)
      - name: Scan Frontend Image (Trivy)
        uses: aquasecurity/trivy-action@master
         with:
        image-ref: ${{ secrets.DOCKER_USERNAME }}/capstone-frontend:latest
        exit-code: '0'
    
    #  Push backend
    - name: Push Backend Image
      run: |
        docker push rahulsayya/backend:latest

    #  Push frontend
    - name: Push Frontend Image
      run: |
        docker push rahulsayya/frontend:latest
