name: CI-CD Pipeline

on:
  push:
    branches: ["main"]

# =========================
# BUILD + SCAN + PUSH
# =========================
jobs:
  build-test-scan-push:
    name: Build, Scan & Push Images
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Backend
        run: docker build -t rahulsayya/capstone-backend:latest ./backend

      - name: Build Frontend
        run: docker build -t rahulsayya/capstone-frontend:latest ./frontend

      - name: Trivy Scan Backend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: rahulsayya/capstone-backend:latest
          severity: CRITICAL,HIGH
          exit-code: "0"

      - name: Trivy Scan Frontend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: rahulsayya/capstone-frontend:latest
          severity: CRITICAL,HIGH
          exit-code: "0"

      - name: Push Backend
        run: docker push rahulsayya/capstone-backend:latest

      - name: Push Frontend
        run: docker push rahulsayya/capstone-frontend:latest


# =========================
# DEPLOY TO PROD
# =========================
  deploy-prod:
    name: Deploy to Local Server (Prod)
    needs: build-test-scan-push
    runs-on: self-hosted

    steps:
      - name: Deploy Prod
        shell: cmd
        run: |
          echo Deploying to PROD...
          cd /d "C:\Users\Rahul Sayya\Capstone project_CICD End-to-End Project"
          docker compose -f docker-compose.prod.yml down
          docker compose -f docker-compose.prod.yml pull
          docker compose -f docker-compose.prod.yml up -d

      - name: Health Check (Prod)
        shell: cmd
        run: |
          timeout /t 20 >nul
          curl http://localhost:8081/health


# =========================
# DEPLOY TO STAGING
# =========================
  deploy-staging:
    name: Deploy to Local Server (Staging)
    needs: build-test-scan-push
    runs-on: self-hosted

    steps:
      - name: Deploy Staging
        shell: cmd
        run: |
          echo Deploying to STAGING...
          cd /d "C:\Users\Rahul Sayya\Capstone project_CICD End-to-End Project"
          docker compose -f docker-compose.staging.yml down
          docker compose -f docker-compose.staging.yml pull
          docker compose -f docker-compose.staging.yml up -d

      - name: Health Check (Staging)
        shell: cmd
        run: |
          timeout /t 20 >nul
          curl http://localhost:8082/health
