name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-scan-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Backend Image
        run: docker build -t rahulsayya/capstone-backend:latest ./backend

      - name: Build Frontend Image
        run: docker build -t rahulsayya/capstone-frontend:latest ./frontend

      - name: Scan Backend Image (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: rahulsayya/capstone-backend:latest
          exit-code: '0'

      - name: Scan Frontend Image (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: rahulsayya/capstone-frontend:latest
          exit-code: '0'

      - name: Push Backend Image
        run: docker push rahulsayya/capstone-backend:latest

      - name: Push Frontend Image
        run: docker push rahulsayya/capstone-frontend:latest


  deploy:
    needs: build-test-scan-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd "/home/rahul/Capstone project_CICD End-to-End Project"
            ./deploy.sh
