name: CI-CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
# =========================
# BUILD + SCAN + PUSH
# =========================
  build-test-scan-push:
    name: Build, Scan & Push Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Backend Image
        run: docker build -t rahulsayya/capstone-backend:latest ./backend

      - name: Build Frontend Image
        run: docker build -t rahulsayya/capstone-frontend:latest ./frontend

      # -------- TRIVY SCANS (VISIBLE IN JOB UI) --------
      - name: Trivy Scan Backend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: rahulsayya/capstone-backend:latest
          format: table
          severity: CRITICAL,HIGH
          exit-code: "0"

      - name: Trivy Scan Frontend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: rahulsayya/capstone-frontend:latest
          format: table
          severity: CRITICAL,HIGH
          exit-code: "0"

      - name: Push Backend Image
        run: docker push rahulsayya/capstone-backend:latest

      - name: Push Frontend Image
        run: docker push rahulsayya/capstone-frontend:latest


# =========================
# DEPLOY (LOCAL WINDOWS)
# =========================
  deploy:
    name: Deploy to Local Server
    needs: build-test-scan-push
    runs-on: self-hosted

    steps:
      - name: Deploy using Docker Compose
        shell: cmd
        run: |
          echo Starting deployment...
          cd /d "C:\Users\Rahul Sayya\Capstone project_CICD End-to-End Project"
          docker compose -f docker-compose.prod.yml down
          docker compose -f docker-compose.prod.yml pull
          docker compose -f docker-compose.prod.yml up -d

